
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="notes, notebin, codebin, developement, documents, cloud, cloudcomputing, free, secure">
  <meta content="notebin.cf - API" property="og:title" />
    <meta content="Save notes, documents, codes and more! And access and share them with the world!" property="og:description" />
  <meta content="#272822" data-react-helmet="true" name="theme-color" />
  <meta content='/media/logo.png' property="og:image" />
  <link rel="shortcut icon" href="/media/logo.png" icon created by Freepik - Flaticon>
  <title>Notebin - API</title>
  <link href="/css/api.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
</link>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js">
</script>
  <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js">
</script>
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">


</head>

<body>
 
  <br>
    <h1>Notebin - API for notebin creation</h1>
    <br>
    <br>
    <div class="container d-flex align-items-center justify-content-center">
  <div id="docs">
    <p>Request URL: https://www.notebin.cf/api/create</p>
<br>
<p>Fetch method: POST</p>
<br>
<p>Headers: Content-Type: application/json</p>
<br>
<div id="code">
<p> Request Body:</p>
</div>
<br>
<div >
<p>Success Output (200):</p>
<div id="code2"></div>
</div>
  </div>
</div>
  <script>
    const codemirror = CodeMirror(document.getElementById("code"), {

  lineWrapping: true,
  styleActiveLine: true, 

        theme: 'monokai',
        value: '{"text":"Your notebins text"}'
});
codemirror.setSize(350,30);
  
  
  </script>
    <script>
      const codemirror1 = CodeMirror(document.getElementById("code2"), {
  
    lineWrapping: true,
    styleActiveLine: true, 
  
          theme: 'monokai',
          value: '{"url":"https://www.notebin.cf/123"}'
  });
  codemirror1.setSize(350,30);
    
    
    </script>
  <br>
  <br>
  <br>
  <br>
</body>

</html>