<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="notes, notebin, codebin, developement, documents, cloud, cloudcomputing, free, secure">
  <meta content="notebin.cf - manage your notes." property="og:title" />
    <meta content="Save notes, documents, codes and more! And access and share them with the world!" property="og:description" />
  <meta content="#db1a78" data-react-helmet="true" name="theme-color" />
  <meta content='/media/logo.png' property="og:image" />
  <link rel="shortcut icon" href="/media/logo.png" icon created by Freepik - Flaticon>
  <title>Notebin - Save notes, documents, codes and more!</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Notebin - Save notes, documents, codes and more!</h1>
    <br>
  <form action="/" method="POST" style="width: 85%; margin : auto;">
    <h2><label for="text">Enter Your Text:</label></h2>
    <div class="buttonHolder">
  <textarea id="text" name="text" spellcheck="false" required></textarea>
  <br>
  <button type="submit">Create notebin</button>
</div>
  </form>
  <br>
  <br>
  <br>
  <br>
</body>

</html>