
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="notes, notebin, codebin, developement, documents, cloud, cloudcomputing, free, secure">
  <meta content="notebin.cf - manage your notes." property="og:title" />
    <meta content="Save notes, documents, codes and more! And access and share them with the world!" property="og:description" />
  <meta content="#272822" data-react-helmet="true" name="theme-color" />
  <meta content='/media/logo.png' property="og:image" />
  <link rel="shortcut icon" href="/media/logo.png" icon created by Freepik - Flaticon>
  <title>Notebin - Save notes, documents, codes and more!</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
</link>

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js">
</script>
  <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js">
</script>
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
</head>

<body>
  <h2 style="color: black;"><header class="api" style="float: right; color: black;"><a style="color: black;" href="/api">API</a>
  </header></h2>
  <br>
    <h1>Notebin - Save notes, documents, codes and more!</h1>
    <br>
  <form action="/" method="POST" style="width: 85%; margin : auto;" onsubmit="load()">
    <h2><label for="text">Enter Your Text:</label></h2>
    <div class="buttonHolder">
  <textarea type="text" id="text" name="text" spellcheck="false" ></textarea>
  <br>
  <button id="creator" type="submit">Create notebin</button>
</div>
  </form>
  <script>
    const codemirror = CodeMirror.fromTextArea(document.getElementById("text"), {
  lineNumbers: true,
  lineWrapping: true,
  styleActiveLine: true, 
      lineNumbers: true,
        theme: 'monokai'
});
    codemirror.setSize(null, 800);
  function load() {
    var x = document.getElementById('creator')
    x.disabled = true
    x.innerText = 'Creating notebin...'

  }
  
  </script>
  <br>
  <br>
  <br>
  <br>
</body>

</html>